.sign-in {
  width: 380px;
  display: flex;
  flex-direction: column;

  .title {
    margin: 10px 0;
  }

  .buttons {
    display: flex;
    justify-content: space-between;
  }
}

@media only screen and (max-width: 700px) {
  .sign-in {
    width: 300px;
    
    .buttons {
      display: block;
      margin: 20px auto;
    }
  }
}